<div class='container-table'>
  <mat-form-field class='input-position'>
    <input matInput #filter placeholder='Pesquisar clientes' />
  </mat-form-field>

  <button mat-raised-button color='accent' class='search-button-position' (click)='getFilter(filter)'>Pesquisar</button>

  <button mat-raised-button color='accent' class='add-button-position' (click)='criarCliente()'>Adicionar</button>

  <div class="full-height">
    <mat-table matSort class="mat-cell" #table [dataSource]="dataSource">
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nome do cliente</mat-header-cell>
        <mat-cell *matCellDef='let row'> {{ row?.nome }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef='cpf'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>CPF</mat-header-cell>
        <mat-cell *matCellDef='let row'> {{ row?.cpf }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef='dataNascimento'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data de Nascimento</mat-header-cell>
        <mat-cell *matCellDef='let row'>
          {{ row?.dataNascimento | date: 'dd/MM/yyyy' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef='telefoneCompleto'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</mat-header-cell>
        <mat-cell *matCellDef='let row'> {{ row?.telefoneCompleto }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef='actions'>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>

        <mat-cell *matCellDef='let row; let i = index'>
          <button mat-icon-button color='warn' (click)='editarCliente(row)'>
            <mat-icon aria-label='Edit'>edit</mat-icon>
          </button>

          <button mat-icon-button color='warn' (click)='deletarCliente(row)'>
            <mat-icon aria-label='Delete'>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
      <mat-row *matRowDef='let row; columns: displayedColumns'></mat-row>
    </mat-table>
    <app-table-counter [length]='dataSource.data.length'></app-table-counter>
    <mat-paginator showFirstLastButtons></mat-paginator>
  </div>
</div>
