<mat-form-field class="input-position">
  <mat-label>Pesquisar locação</mat-label>
  <input matInput #filter placeholder="Ex. João" />
</mat-form-field>

<button mat-raised-button color="accent" class="search-button-position" (click)="getFilter(filter)">Pesquisar</button>

<button mat-raised-button color="accent" class="add-button-position" (click)="criarLocacao()">Alugar</button>

<div class="container mat-elevation-z8 full-height">
  <mat-table matSort [dataSource]="dataSource" class="mat-cell">
    <ng-container matColumnDef="dataLocacao">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data de locação</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row?.dataLocacao | date: 'dd/MM/yyyy, h:mm a' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dataPrevistaDevolucao">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data prevista para devolução</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.dataPrevistaDevolucao | date: 'dd/MM/yyyy, h:mm a' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dataDevolucao">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data de devolução</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.dataDevolucao | date: 'dd/MM/yyyy, h:mm a' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="situacao">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Situação</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.situacao | situacaoEnum }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cliente.nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nome do cliente</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.clienteNome }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator showFirstLastButtons></mat-paginator>
</div>
